@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Honk&family=Jersey+25&family=Luckiest+Guy&family=Nosifer&family=Rubik+Doodle+Shadow&family=Sarpanch:wght@400;500;600;700;800;900&family=Stalinist+One&family=Teko:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Jersey 25", sans-serif;
  font-size: large;
}
.teko {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.stalinist-one-regular {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.sarpanch-regular {
  font-family: "Sarpanch", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
  font-size: larger;
}
